.mot {
	height: 150px;
	width: 100%;
}
.header-menu ul{
	 padding: 35px 0px 35px 0px;
}
.header-menu ul li{
	 display: inline;
    margin: 15px;
    font-weight: bold;

}
.hai{
	height: 400px;
	width: 100%;
	background-image: url(../img/hinhnen.png);
	background-size: 100%;
	color: white;
	padding: 100px 0 100px 0;
	line-height: 50px;
}
.dong1 {
	text-align: center;
}
.button {
	background-color: blue;
	color:  red;
}
.kk {
	width: 150px;
	margin-right: 50px;
}
.kkk{
	width: 150px;
	margin-left: 175px;
}

.form-group {
	line-height: 20px;
}
.form-group button {
	margin-left: 455px;
}
.end2 {
	background-image: url(../img/backgroundfooter_.png);
	background-repeat: no-repeat;
	background-size: 98%;
	height: 50px;
	line-height: 50px;
	color: white;

}
.uuuu {
	line-height: 50px;
}