/* CSS Document */
*{
	margin:0px;
	padding:0px;
	}
table{
		border-collapse:collapse;
	}
.wrapper{
	width:auto;
	height:auto;
	margin:auto;
	border:1px solid #000;
	}
.header{
	width:100%;
	height:120px;
	border:1px solid #000;
	}
.menu{
	width:100%;
	height:40px;
	border:1px solid #000;
	}
.left{
	width:55%;
	height:auto;
	border:1px solid #000;
	float:left;
	margin-left:10px;
	margin-right:10px;
	}
.right{
	width:35%;
	height:auto;
	border:1px solid #000;
	float:right;
	}
.content{
	width:100%;
	height:auto;
	border:1px solid #000;	
	}
.clear{
	clear:both;
	}
.footer{
	width:100%;
	height:80px;
	border:1px solid #000;
	}
.header_h3{
	text-align:center;
	color:#F00;
	line-height:120px;		
	}
.menu ul{
	width:100%;
	height:40px;
	list-style:none;
	}
	.menu ul li{
			width:150px;
			heigh:40px;
			line-height:40px;
			float:left;
		}
		.menu ul li a{
			text-decoration:none;
			color:#000;
			}
		.menu a:hover{
			color:#F00;
			}
